*.suo
*.user
_ReSharper.*
bin
obj
packages
CryptoCamWebAPI/tessdata/_old/
*.apk
CryptoCam/CryptoCam.Android/obj/
CryptoCam/CryptoCam.iOS/obj/
CryptoCam/CryptoCam.iOS/bin/
CryptoCam/CryptoCam/bin/
.vs/CryptoCam/DesignTimeBuild/
Helpers/obj/
CryptoCamWebAPI/obj/
CryptoCam/CryptoCam/obj/
Helpers/bin/
CryptoCamWebAPI/bin/
CryptoCamWebAPI/Properties/PublishProfiles/CryptoCamWebAPIDeploy - Web Deploy.pubxml
EndPointSetUps.txt
